run = "npm run start"
entrypoint = "server/index.ts"
modules = ["nodejs-20"]

[deployment]
build = "npm install && npm run build"
run = "npm run start"
deploymentTarget = "cloudrun"
ignorePorts = false
