run = "chmod +x scripts/start-all.sh && ./scripts/start-all.sh"
entrypoint = "server/index.ts"
modules = ["nodejs-20"]

[[ports]]
localPort = 5002
externalPort = 80

[deployment]
build = "npm install && npm run build"
run = "npm run start"
deploymentTarget = "cloudrun"
ignorePorts = false

[[deployment.ports]]
localPort = 5002
externalPort = 80
